<header>
    <div class="container-fluid pe-0 position-relative w-100">
        
        
            
        
        <div class="row pe-0 w-100 mx-0" >
    <div class="container-fluid py-4 pe-0 w-100">
    <div class="row py-4 w-100 mx-0" >
        <div class="col-lg-4 d-flex align-items-center justify-content-end the-header px-4 " style="height: 460px;">
            <div>
                <h2 class="my-header px-4">Find, book and rent a car <span class="blue-text">Easily <img class="my-vector" src="../../assets/Vector 1.png" alt="vector"></span></h2>  
                
                <p class="my-p py-4 px-4">Get a car wherever and whenever you need it with your IOS and Android device.</p>
                <div class="d-flex my-gap-1 px-4">
                    <img src="../../assets/image 2.png" alt="google-play">
                    <img src="../../assets/image 3.png" alt="app-store">
                </div>
            </div>
           
            
                
            
        </div>
         <div class="col-lg-8 position-relative other" style="height: 460px;">

               <img class="car position-absolute" src="../../assets/car 2 1.png" alt="car-header" >
            </div>
    </div>
</div>
        </div>
        <img class="position-absolute my-frame" src="../../assets/Frame.png" alt="Frame">
    </div>
    </header>




