<div class="container-fluid py-5">
    <div class="row position-relative">
        <div class="col-lg-6 ps-0">
            <img src="../../assets/Vector.png" alt="bg-vector">
            <img src="../../assets/Audi 1.png" alt="sec-car" class="position-absolute car">
        </div>
        <div class="col-lg-6">
            <div
            class="text-center mb-4 d-flex flex-column align-items-start my-gap-2"
          >
            <p class="my-title m-0 p-2">HOW IT WORK</p>
      
            <h2 class="my-h2">Rent with following 3 working steps</h2>
          </div>
          <div class="container">
            <div class="row align-items-center py-2">
                <div class="col-2"><img src="../../assets/Frame 35.png" alt="icon"></div>
                <div class="col-10 text-srart">
                    <h3 class="sm-title">Best price guaranteed</h3>
                    <p class="my-details">Find a lower price? We’ll refund you 100%
                        of the difference.</p>
                </div>
            </div>
            <div class="row align-items-center py-2">
                <div class="col-2"><img src="../../assets/frame30.png" alt="icon"></div>
                <div class="col-10 text-srart">
                    <h3 class="sm-title">Experience driver</h3>
                    <p class="my-details">Don’t have driver? Don’t worry, we have many
                        experienced driver for you.</p>
                </div>
            </div>
            <div class="row align-items-center py-2">
                <div class="col-2"><img src="../../assets/24h.png" alt="icon"></div>
                <div class="col-10 text-srart">
                    <h3 class="sm-title">24 hour car delivery</h3>
                    <p class="my-details">Book your car anytime and we will deliver it
                        directly to you..</p>
                </div>
            </div>
            <div class="row align-items-center py-2">
                <div class="col-2"><img src="../../assets/supp.png" alt="icon"></div>
                <div class="col-10 text-srart">
                    <h3 class="sm-title">24/7 technical support</h3>
                    <p class="my-details">Have a question? Contact Rentcars support
                        any time when you have problem.</p>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
