.car{
    top: 25%;
    left: 0;
    height: inherit;
    width: inherit;

}
.my-title {
    font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 21px;
background: #1572D31A;
color: #1572D3;
 width: fit-content;
 border-radius: 5px;
}

.my-h2{
    font-family: Poppins;
    font-size: 38px;
    font-weight: 500;
    line-height: 49.4px;
    text-align: left;
}

.sm-title{
    font-family: Poppins;
font-size: 20px;
font-weight: 500;
line-height: 30px;
text-align: start;
color: #000;
}

.my-details{
    font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 21px;
text-align: start;
color: #6D6D6D;

}