<nav class="navbar navbar-expand-lg bg-transparent">
    <div class="container">
        <a class="navbar-brand logo-text d-flex align-items-center my-gap-1" [routerLink]="['/home']">
            <img src="../../assets/Group.png" alt="Logo" width="24" height="25.72" class="d-inline-block align-text-top ">
            RENTCARS
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0 my-gap-2">
          <li class="nav-item">
            <a class="nav-link my-nav-text" aria-current="page" href="#">Become a renter</a>
            
          </li>
          <li>

              <a class="nav-link my-nav-text" aria-current="page" href="#">Rental deals</a>
          </li>
          <li>

              <a class="nav-link my-nav-text" aria-current="page" href="#">How it work</a>
          </li><li>

              <a class="nav-link my-nav-text" aria-current="page" href="#">Why choose us</a>
          </li>
        </ul>
        <ul class="navbar-nav  mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">sign in</a>
              </li>
              <li class="nav-item">
                <button type="button" class="btn sign-up-btn ">sign up</button>
                
              </li>
        </ul>
      </div>
    </div>
  </nav>