.logo-text{
    font-family: Poppins;
font-size: 16px;
font-weight: 600;
line-height: 24px;
text-align: left;
color: #1572D3;

}
.my-nav-text{
    font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;

}
.sign-up-btn{
    background: #1572D3;
    color: white;
    






}