<div class="position-relative">
  <img
    src="../../assets/right-bg.png"
    alt="right"
    class="position-absolute right-bg"
  />
  <img
    src="../../assets/left-bg.png"
    alt="left"
    class="position-absolute left-bg"
  />
  <div class="text-center mb-4 d-flex flex-column align-items-center my-gap-2">
    <p class="my-title m-0 p-2">TESTIMONIALS</p>

    <h2 class="my-h2">What peole say about us?</h2>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xxl-6 d-flex bg-white the-card py-4  rounded-5">
          <div class="container bg-white my-card rounded-5">
            <div class="row">
              <div class="col-6 p-0 w-50">
                <img
                  src="../../assets/Rectangle 8.png"
                  alt="profile-pic"
                  class="profile-pic rounded-start-5 w-100"
                />
              </div>
              <div class="col-6 d-flex flex-column justify-content-between">
                <div class="ps-3">
                  <p class="stars-num mb-0">
                    5.0 <span class="stars-num-text">stars</span>
                  </p>
                  <div class="d-flex my-gap-1">
                    <img src="../../assets/Star 1.png" alt="star" />
                    <img src="../../assets/Star 1.png" alt="star" />
                    <img src="../../assets/Star 1.png" alt="star" />
                    <img src="../../assets/Star 1.png" alt="star" />
                    <img src="../../assets/Star 1.png" alt="star" />
                  </div>
                </div>
                <div class="ps-3">
                    <p class="card-p mb-0">“I feel very secure when using caretall's services. Your customer care team is very enthusiastic and the driver is always on time.”</p>
                </div>
                <div class="ps-3">
                    <h3 class="card-foot-h">Charlie Johnson</h3>
                    <p class="card-foot-p">From New York, US</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-6 d-flex bg-white the-card py-4 rounded-5">
            <div class="container bg-white my-card rounded-5">
              <div class="row">
                <div class="col-6 p-0 w-50">
                  <img
                    src="../../assets/Rectangle 8.png"
                    alt="profile-pic"
                    class="profile-pic rounded-start-5 w-100"
                  />
                </div>
                <div class="col-6 d-flex flex-column justify-content-between">
                  <div class="ps-3">
                    <p class="stars-num mb-0">
                      5.0 <span class="stars-num-text">stars</span>
                    </p>
                    <div class="d-flex my-gap-1">
                      <img src="../../assets/Star 1.png" alt="star" />
                      <img src="../../assets/Star 1.png" alt="star" />
                      <img src="../../assets/Star 1.png" alt="star" />
                      <img src="../../assets/Star 1.png" alt="star" />
                      <img src="../../assets/Star 1.png" alt="star" />
                    </div>
                  </div>
                  <div class="ps-3">
                      <p class="card-p mb-0">“I feel very secure when using caretall's services. Your customer care team is very enthusiastic and the driver is always on time.”</p>
                  </div>
                  <div class="ps-3">
                      <h3 class="card-foot-h">Charlie Johnson</h3>
                      <p class="card-foot-p">From New York, US</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
